*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
    /* width: 1250px; */
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    font-weight: 500;
    
}

.logo {
    width: 225px;
    height: 40px;
}

.nav_list{
    list-style: none;
    display: flex;
    gap: 63px;
}

.button_container {
    display: flex;
    gap: 43px;
}

#signIn {
    width: 125px;
    height: 57px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

.create {
    width: 185px;
    height: 57px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    background-color: #0c1825;
    color: white;
}

#bar {
    display: none;
}

.first_section {
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    margin-top: 95px;
    gap: 100px;
}

.article{
    /* width: 100%; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    gap: 124px;
    align-items: center;
}

.inner-article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_text {
    font-size: 56px;
}

.article-innertext {
    width: 80%;
    margin-top: 34px;
}

#apple, #android {
    display: flex;
    gap: 17px;
    align-items: center;
    width: 160px;
    height: 57px;
    border-radius: 8px;
    justify-content: center;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
}

.get{
    display: flex;
    gap: 10px;
}

.img_holder{
    /* width: 50%; */
    position: relative;
}



#hero_image {
    height: 450px;
    width: 300px;
}

.img1 {
    position: relative;
}

.image2 img {
    position: absolute;
}

.image2 img:first-child {
    top: -1.5rem;
    left: -2rem;
    width: 60px;
}

.image2 img:nth-child(2) {
    left: -3.5rem;
    top: 11rem;
}

.image2 img:nth-child(3) {
    right: -7rem;
    bottom: 4rem;
}

.image2 img:nth-child(4) {
    left: -1.2rem;
    bottom: 3rem;
}

.image2 img:last-child {
    top: 5rem;
    right: -1.2rem;
    z-index: -3;
}

#out_line {
    position: absolute;
    height: 520px;
    width: 250px;
    border: 1.5px solid black;
    border-radius: 16px;
    transform: translateX(40%);
    top: -8%;
    z-index: -2;
}

@media (max-width: 768px) {
    #bar {
        display: block;
        font-size: 1.5rem;
    }

    nav{
        display: none;
    }

    .button_container{
        display: none;
    }

    .logo {
        width: 150px;
        height: 30px;
    }
}

